{
  "api":{
    "port": 3000
  },
  "db": {
    "username": "root",
    "password": "toor",
    "database": "ipstackapi",
    "host": "127.0.0.1",
    "port": 3306,
    "dialect": "mysql"
  },
  "logger": {
    "level": "debug"
  }
}
